@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap");

/* 修改字体 */

div,
textarea,
.level2 {
  font-family: "Noto Serif SC", sans-serif !important;
}

/* 页面下方反向链接的标题 */

.rm-page__title {
  font-family: "Noto Serif SC", sans-serif !important;
}

/* 页面标题 */
.rm-title-display {
  font-family: "Noto Serif SC", sans-serif !important;
}

/* tag */
span.rm-page-ref.rm-page-ref--tag {
  font-family: "Noto Serif SC", sans-serif !important;
}
